{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Team Management</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="betting, automation, bet365, bookiebashing">
    <meta name="description" content="Betting automation for Ollie and Luke. Automatic betting for Bet365">
    <!-- END META -->
    {% block extra_css %}{% endblock %}
    <style>
        li {
            list-style-type: none;
        }

        .notification {
            position: absolute;
            top: 5rem;
            right: 1rem;
        }
    </style>
    <!-- BEGIN STYLESHEETS -->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g=="
          crossorigin="anonymous"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
          type='text/css'/>
    <link type="text/css" rel="stylesheet" href="{% static 'administration/css/theme-default/bootstrap.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'administration/css/theme-default/materialadmin.css' %}"/>
    <link type="text/css" rel="stylesheet"
          href="{% static 'administration/css/theme-default/font-awesome.min.css' %}"/>
    <link type="text/css" rel="stylesheet"
          href="{% static 'administration/css/theme-default/material-design-iconic-font.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/skin/blue.monday/css/jplayer.blue.monday.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'administration/js/libs/jquery/jquery-1.11.2.min.js' %}">
    </script>
    <script src="{% static 'administration/js/libs/select2/select2.min.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    {{ form.media.css }}
</head>

<body class="menubar-hoverable header-fixed menubar-pin " onload="startTime()">
{% block content %} {% endblock %}

<div class="modal fade" id="pfModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>


<!-- BEGIN JAVASCRIPT -->


<script>
    $(function () {
        $(".datepicker").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            autoclose: true,
            changeYear: true,
            yearRange: "2020:2030",
        });
    });
</script>

<script src="{% static 'administration/js/libs/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'administration/js/libs/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'administration/js/libs/spin.js/spin.min.js' %}"></script>
<script src="{% static 'administration/libs/autosize/jquery.autosize.min.js' %}"></script>
<script src="{% static 'administration/libs/nanoscroller/jquery.nanoscroller.min.js' %}"></script>
<script src="{% static 'administration/core/source/App.js' %}"></script>
<script src="{% static 'administration/core/source/AppNavigation.js' %}"></script>
<script src="{% static 'administration/core/source/AppOffcanvas.js' %}"></script>
<script src="{% static 'administration/core/source/AppCard.js' %}"></script>
<script src="{% static 'administration/core/source/AppForm.js' %}"></script>
<script src="{% static 'administration/core/source/AppNavSearch.js' %}"></script>
<script src="{% static 'administration/core/source/AppVendor.js' %}"></script>
<script src="{% static 'administration/core/demo/Demo.js' %}"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>


<!-- END JAVASCRIPT -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

{% block extra_js %}{% endblock %}


<div class="modal fade" id="prixatechModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
{#{% include 'message.html' %}#}

{#{% if messages %}#}
{#    <script>#}
{#        {% for message in messages %}#}
{#            $(document).ready(function () {#}
{#                $('.toast').toast('show');#}
{#            });#}
{#        {% endfor %}#}
{#    </script>#}
{#{% endif %}#}

</body>

</html>


